.about {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  img {
    border-radius: 50%;
    width: 20%;
  }
  p {
    width: 60%;
  }
  @media #{$small-query} {
    flex-direction: column;
    img {
      margin: 0 auto;
      width: 50%;
    }
    p {
      margin: 20px auto;
      width: 90%;
    }
  }
}

.resume {
  margin: 0 auto;
  width: 50%;

  .skill {
    background-color: $sea-green;
    border-radius: 6px;
    margin: 2vh auto;
    width: 100%;

    div {
      background-color: $deep-ruby;
      border-radius: 6px;
      color: $white;
      padding: 15px 8px;
    }
  }

  .career,
  .education,
  .volunteering {
    margin-top: 10vh;

    p {
      font-size: 1rem;
      margin-bottom: .2rem;
    }

    .job {
      margin: 0 0 5vh;
      &:last-child {
        margin-bottom: 0;
      }

      .title {
        font-weight: 600;
      }
    }
  }
  @media #{$small-query} {
    width: 80%;
  }
}
