footer {
  margin-top: 100px;
  height: 150px;
  padding-top: 50px;
  nav {
    display: block;
    text-align: center;
    a {
      margin-left: .875em;
    }
  }
  p {
    font-size: .75rem;
    margin-top: 1.5rem;
    text-align: center;
    width: 100%;
  }

  // hovers for icons
  .fa-envelope:hover {color: $mint;}
  .fa-file:hover {color: $mint;}
  .fa-linkedin:hover {color: #2469A3;}
  .fa-github-alt:hover {color: $purple;}
}
