footer {
  border-top: 1px solid #c7ced1;
  margin-top: 100px;
  height: 150px;
  padding-top: 50px;
  p {
    display: inline-block;
    @media #{$small-query} {
      width: 100%;
      text-align: center;
      }
  }
  .footer {
    width: 50%;
    margin: 0 auto;
    @media #{$medium-query} {
      width: 70%;
    }
  }
}
