footer {
  margin-top: 100px;
  height: 150px;
  padding-top: 50px;
  p {
    display: inline-block;
    @media #{$small-query} {
      width: 100%;
      text-align: center;
    }
  }
  nav {
    display: inline-block;
    float: right;
    a {
      margin-left: .875em;
    }
    @media #{$small-query} {
      width: 100%;
      display: block;
      text-align: center;
      margin-top: 1em;
    }
  }

  // hovers for icons
  .fa-envelope:hover {color: #98DDD9;}
  .fa-file:hover {color: #E0A3AC;}
  .fa-linkedin:hover {color: #2469A3;}
  .fa-github-alt:hover {color: $purple;}
}
