// Homepage styles
.bradsdeals,
.crate,
.tcm,
.katherine,
.trainsignal,
.coffey {
  width: 50%;
  height: 5vh;
}

.bradsdeals {
  background-color: #338296;
}

.crate {
  background-color: #000;
}

.tcm {
  background-color: #161C57;
}

.katherine {
  background-color:#7D1112;
}

.trainsignal {
  background-color: #2C58A1;
}

.coffey {
  background-color: #64B140;
}
