a {
  color: $pale-orange;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn-primary {
    border: 2px solid $pale-orange;
    display: block;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
    width: 8vw;
    &:hover {
      background-color: $pale-orange;
      color: $white;
      text-decoration: none;
    }
  }
}

h1 {
  color: $pale-orange;
  font-size: 1rem;
  font-weight: 600;
  margin: 30vh auto 3vh;
  text-align: center;
  text-transform: uppercase;
}

.subhead {
  font-size: 1.5rem;
  margin: 1rem auto;
  text-align: center;
  width: 75%;
}

h2 {
  display: inline-block;
  font-size: 1.75rem;
  line-height: 1.3;
  margin-top: .3em;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}

h3 {
  color: $deep-ruby;
  font-size: 1.25rem;
  line-height: 1.3;
}

h4 {
  color: $white;
  font-size: 1.625rem;
}

p {
  color: $font-color;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1.2em;
  .contact {
    line-height: 1.2;
    margin: 1em auto;
  }

}
