// colors
$slate: #333;
$white: #fff;
$border-color: #ccc;
$font-color: #{$slate};

$coral: #ec6363;
$purple: #3f2e4a;
$blue: #255f85;
$mint: #85baa1;

// company colors
$bradsdeals:      #0E3651;
$crateandbarrel:  #000;
$tcm:             #161c57;
$katherine:       #7d1112;
$trainsignal:     #2c58a1;
$coffey:          #64b140;

// fonts
$sans-serif: "Raleway", Helvetica, Arial, sans-serif;

// media queries
$iphone5-width: 320px;
$small-cutoff: 760px;
$large-cutoff: 1100px;

$large-query: "only screen and (min-width: #{$large-cutoff + 1})";
$medium-query: "only screen and (max-width: #{$large-cutoff})";
$small-query: "only screen and (max-width: #{$small-cutoff})";
$iphon5-query: "only and (max-width: #{$iphone5-width})";

$large-to-small-query-range: "only screen and (min-width: #{$small-cutoff + 1})";
$medium-query-range: "only screen and (min-width: #{$small-cutoff + 1}) and (max-width: #{$large-cutoff})";
