@import 'reset';
@import 'variables';
@import 'typography';
@import 'nav';
@import 'header';
@import 'footer';
@import 'resume';
@import 'contact';
@import '404';

/* ====== GLOBAL ====== */
* {
	box-sizing: border-box;
}
body {
	background-color: $secondary-color;
	font-family: $font-stack;
}

/* ====== WIDTH 100% ====== */

form, .form-content, input[type=text], input[type=email], textarea, input[type=submit]  {
	width: 100%;
}

/* ====== CONTENT WIDTH 50% ====== */

.about, .contact, .secondary-header-content, .resume {
	width: 50%;
	@media only screen and #{$bp-tablet} {
		width: 70%;
	}
}

/* ====== CENTERING ====== */

.contact-h1, form, .secondary-header-content, .about, .contact, .about-header {
	margin: 0 auto;
}

/* ====== MARGIN TOP 65px ====== */

.about, .contact {
	margin-top: 65px;
}
