@import 'reset';
@import 'variables';
@import 'typography';
@import 'footer';
@import 'portfolio';
@import 'contact';
@import 'about';

// global styling
* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: $sans-serif;
  font-size: 16px;
}

header {
  width: 100%;

  h1.branding {
    color: $pale-orange;
    font-family: $emphasis;
    font-size: 1rem;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.clearfix {
  clear: both;
  content: "";
  display: table;
}

// layout styling
.intro {
  height: 65vh;
  width: 100%;
  h1 {
    font-family: $emphasis;
  }
}

// 404 styling
.four-oh-four {
  img {
    display: block;
    margin: 5vh auto;
  }
}
